.create-title{
    font-size: 4rem;
    color: white;
    position: relative;
}
.create-title::after{
    content: "";
    width: 150px;
    height: 4px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.title-container{
    background-color: #112d4e;
}
.form-group{
    width: 100%;
    background: #eaeaea;
    margin: 15px 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.in-box{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
    color: #112d4e;
}
.label-text{
    color: #112d4e;
}
.btn-post{
    background-color: #112d4e;
    color: white;
}
.btn-post:hover{
    background-color: #17385e;
    color: white;
}
.char-counter{
    position: absolute;
    right: 20px;
    color: #595757b6;
}
.counter-hide{
    display: none;
}
.counter-show{
    display: block;
}
.form__error--message {
    color: red;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 8px;
}
.flash-messages{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}